{{!
<!DOCTYPE html>

<html lang="en">

  <body>}}

{{#layout}}{{#menu}}Owners{{/menu}}

  <h2>Owner</h2>
  <form class="form-horizontal" id="add-owner-form" method="post">
    {{#form.owner}}
    <div class="form-group has-feedback">
      {{#inputField}}First Name <input name="firstName"/>{{/inputField}}
      {{#inputField}}Last Name <input name="lastName"/>{{/inputField}}
      {{#inputField}}Address <input name="address"/>{{/inputField}}
      {{#inputField}}City <input name="city"/>{{/inputField}}
      {{#inputField}}Telephone <input name="telephone"/>{{/inputField}}
    </div>
    {{/form.owner}}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        {{#owner}}<button
          class="btn btn-default" type="submit">
          {{#new}}Add Owner{{/new}}
          {{^new}}Update Owner{{/new}}
        </button>{{/owner}}
      </div>
    </div>
  </form>

{{/layout}}

{{!  </body>

</html>}}