{{!
<!DOCTYPE html>

<html lang="en">

  <body>}}

{{<fragments/layout}}{{$menu}}owners{{/menu}}{{$body}}

  <h2>Owner</h2>
  <form class="form-horizontal" id="add-owner-form" method="post">
    {{#form}}
    <div class="form-group has-feedback">
      {{#firstName}}{{#render}}First Name <input name="firstName"/>{{/render}}{{/firstName}}
      {{#lastName}}{{#render}}Last Name <input name="lastName"/>{{/render}}{{/lastName}}
      {{#address}}{{#render}}Address <input name="address"/>{{/render}}{{/address}}
      {{#city}}{{#render}}City <input name="city"/>{{/render}}{{/city}}
      {{#telephone}}{{#render}}Telephone <input name="telephone"/>{{/render}}{{/telephone}}
    </div>
    {{/form}}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        {{#owner}}<button
          class="btn btn-primary" type="submit">
          {{#new}}Add Owner{{/new}}
          {{^new}}Update Owner{{/new}}
        </button>{{/owner}}
      </div>
    </div>
  </form>

{{/body}}{{/fragments/layout}}

{{!  </body>

</html>}}
