{{!
<!DOCTYPE html>

<html lang="en">

  <body>}}

{{<fragments/layout}}{{$menu}}owners{{/menu}}{{$body}}

  <h2>Owner</h2>
  <form class="form-horizontal" id="add-owner-form" method="post">
    {{#form}}
    <div class="form-group has-feedback">
      {{#firstName}}{{<fragments/inputField}}First Name <input name="firstName"/>{{/fragments/inputField}}{{/firstName}}
      {{#lastName}}{{<fragments/inputField}}Last Name <input name="lastName"/>{{/fragments/inputField}}{{/lastName}}
      {{#address}}{{<fragments/inputField}}Address <input name="address"/>{{/fragments/inputField}}{{/address}}
      {{#city}}{{<fragments/inputField}}City <input name="city"/>{{/fragments/inputField}}{{/city}}
      {{#telephone}}{{<fragments/inputField}}Telephone <input name="telephone"/>{{/fragments/inputField}}{{/telephone}}
    </div>
    {{/form}}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        {{#owner}}<button
          class="btn btn-primary" type="submit">
          {{#new}}Add Owner{{/new}}
          {{^new}}Update Owner{{/new}}
        </button>{{/owner}}
      </div>
    </div>
  </form>

{{/body}}{{/fragments/layout}}

{{!  </body>

</html>}}
