{{!
<!DOCTYPE html>

<html lang="en">

  <body>}}

{{#layout}}{{#menu}}Owners{{/menu}}

  <h2>Find Owners</h2>

  <form action="/owners" method="get"
  {{#form.owner}}
    class="form-horizontal" id="search-owner-form">
    <div class="form-group">
      <div class="control-group" id="lastNameGroup">
        <label class="col-sm-2 control-label">Last name </label>
        <div class="col-sm-10">
          <input name="lastName" class="form-control" value="{{owner.lastName}}" size="30"
            maxlength="80" /> <span class="help-inline">
              {{#fields.errorMessages}}<p>{{.}}</p>{{/fields.errorMessages}}
            </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Find
          Owner</button>
      </div>
    </div>

  {{/form.owner}}
  </form>

  <br />
  <a class="btn btn-primary" href="/owners/new">Add Owner</a>

{{/layout}}

{{!  </body>

</html>}}
