{{!
<!DOCTYPE html>

<html lang="en">

  <body>}}

{{#layout}}

    <img src="/resources/images/pets.png"/>
    <h2>Something happened...</h2>
    <p>{{message}}</p>

{{/layout}}

{{!  </body>

</html>}}