{{!
<!DOCTYPE html>

<html lang="en">

  <body>}}

{{#layout}}{{#menu}}Home{{/menu}}
    <h2 th:text="#{welcome}">Welcome</h2>
    <div class="row">
        <div class="col-md-12">
          <img class="img-responsive" src="resources/images/pets.png"/>
        </div>
    </div>
{{/layout}}

{{!  </body>

</html>}}